@page
@model LibraryLocationQuerySystem.Pages.Stores.EditModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Store</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Store.BookSortCallNumber" />
            <input type="hidden" asp-for="Store.BookFormCallNumber" />
            <input type="hidden" asp-for="Store.LocationLevel" />
            <input type="hidden" asp-for="Store.LocationId" />
            <input type="hidden" asp-for="Store.StoreDate"/>
            <div class="form-group">
                <label asp-for="Store.StoreNum" class="control-label"></label>
                <input asp-for="Store.StoreNum" class="form-control" />
                <span asp-validation-for="Store.StoreNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.RemainNum" class="control-label"></label>
                <input asp-for="Store.RemainNum" class="form-control" />
                <span asp-validation-for="Store.RemainNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
