@page
@using Microsoft.AspNetCore.Authorization
@model LibraryLocationQuerySystem.Areas.Identity.Pages.ManageAccounts.IndexModel
@{
	ViewData["Title"] = "学生用户管理";
}
@attribute [Authorize(Roles = "admin")]

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-area="Identity" asp-page="/ManageAccounts/MultiRegister">批量注册</a>
</p>

<form>
	<p>
		学号搜索: <input type="text" asp-for="SearchString" />
		<input type="submit" value="搜索" />
	</p>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				<p>学号</p>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.StudentUsers)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.StudentId)
				</td>
				<td>
					<form style="margin:0px; display:inline" class="form-inline" asp-area="Identity" asp-page="./ResetPassword" asp-route-StudentId="@item.StudentId" method="post">
						<button type="submit">ResetPassword</button>
					</form>
					<a asp-area="Identity" asp-page="./Delete" asp-route-StudentId="@item.StudentId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>