@page
@using Microsoft.AspNetCore.Authorization
@model LibraryLocationQuerySystem.Areas.Identity.Pages.ManageAccounts.MultiRegisterModel
@{
    ViewData["Title"] = "批量注册";
}
@attribute [Authorize(Roles = "admin")]

<h1>@ViewData["Title"]</h1>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file" class="btn btn-lg btn-primary" />
            <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>
        </dd>
    </dl>
    <button id="multiRegisterSubmit" type="submit" class="btn btn-lg btn-primary">Upload</button>
</form>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
