@page
@using Microsoft.AspNetCore.Authorization
@model LibraryLocationQuerySystem.Areas.Identity.Pages.ManageAccounts.ResetPasswordModel
@{
    ViewData["Title"] = "重置密码";
}
@attribute [Authorize(Roles = "admin")]

<h1>@ViewData["Title"]</h1>

<ui class="result">
    @foreach (var item in Model.ResultMessages)
    {
        <li>
            @item
        </li>
    }
</ui>
<input type="button" onclick="javascript:window.history.back()" value="返回" />