@page
@using Microsoft.AspNetCore.Authorization
@model LibraryLocationQuerySystem.Areas.Identity.Pages.ManageAccounts.ResetPasswordModel
@{
    ViewData["Title"] = "重置密码";
}
@attribute [Authorize(Roles = "admin")]

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="button" onclick="javascript:window.history.back()" value="返回" class="btn btn-lg btn-primary" />