@page
@model LibraryLocationQuerySystem.Pages.Locations.CreateModel
@{
	ViewData["Title"] = "Create";
}
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]
<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">校区</label>
                <select asp-for="selectGroupView.CampusId" asp-items="Model.Campuses" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">图书馆/图书室</label>
                <select asp-for="selectGroupView.LibraryId" asp-items="Model.Libraries" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">楼层</label>
                <select asp-for="selectGroupView.FloorId" asp-items="Model.Floors" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">书架</label>
                <select asp-for="selectGroupView.BookshelfId" asp-items="Model.Bookshelves" class="form-control"></select>
            </div>
            <!--div class="form-group">
                <label class="control-label">书架层</label>
                <select asp-for="selectGroupView.LayerId" asp-items="Model.Layers" class="form-control"></select>
            </!--div-->
            <div class="form-group">
                <label asp-for="Location.LocationId" class="control-label"></label>
                <input asp-for="Location.LocationId" class="form-control" />
                <span asp-validation-for="Location.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationName" class="control-label"></label>
                <input asp-for="Location.LocationName" class="form-control" />
                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts
    {
    <script>
        function OnCampusChange() {
            var LocationId = $(this).val();
            console.log(`Campus:${LocationId}`);
            $("#selectGroupView_LibraryId").empty();
            $("#selectGroupView_LibraryId").append(`<option value="0">(未选择)</option>`);
            if (LocationId != 0){
                $.getJSON(`?handler=Parent&LocationLevel=1&LocationParent=${LocationId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#selectGroupView_LibraryId").append(`<option value="${item.locationId}">${item.locationName}</option>`);
                    });
                    $("#selectGroupView_LibraryId").change();
                });
            }
            else { $("#selectGroupView_LibraryId").change(); }
        };

        function OnLibraryChange() {
            var LocationId = $(this).val();
            console.log(`Library:${LocationId}`);
            $("#selectGroupView_FloorId").empty();
            $("#selectGroupView_FloorId").append(`<option value="0">(未选择)</option>`);
            if (LocationId != 0) {
                $.getJSON(`?handler=Parent&LocationLevel=2&LocationParent=${LocationId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#selectGroupView_FloorId").append(`<option value="${item.locationId}">${item.locationName}</option>`);
                    });
                    $("#selectGroupView_FloorId").change();
                });
            }
            else { $("#selectGroupView_FloorId").change(); }
        };

        function OnFloorChange() {
            var LocationId = $(this).val();
            console.log(`Floor:${LocationId}`);
            $("#selectGroupView_BookshelfId").empty();
            $("#selectGroupView_BookshelfId").append(`<option value="0">(未选择)</option>`);
            if (LocationId != 0) {
                $.getJSON(`?handler=Parent&LocationLevel=3&LocationParent=${LocationId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#selectGroupView_BookshelfId").append(`<option value="${item.locationId}">${item.locationName}</option>`);
                    });
                    $("#selectGroupView_BookshelfId").change();
                });
            }
            else { $("#selectGroupView_BookshelfId").change(); }
        };

        $(function () {
            $("#selectGroupView_CampusId").on("change", OnCampusChange);
            $("#selectGroupView_LibraryId").on("change", OnLibraryChange);
            $("#selectGroupView_FloorId").on("change", OnFloorChange);
        });
    </script>
}